<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Document</title>
</head>
<body class="background-color">
    <div class="container" id="root">
        <div  class="sx"> 
            <!-- Utente -->
            <div class="Utente"> 
                <!-- img --> 
                <img src="./img/mine.jfif" alt="">
                <p>Leonardo </p>
                <!--  icone -->
                <div class="IconE">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>

            </div>
            <!-- ALERT NUOVE NOTIFICHE -->
            <div class="Nuove-notifiche">
                <div class="bell">
                    <i class="far fa-bell-slash"> </i>
                </div>
                <p class="new-sms"> Ricevi notifiche di nuovi messaggi <br><a href="">Attiva modifiche desktop</a></p>
                
                

            </div>
            <!-- MOTORE DI RICERCA CHAT PERDUTE O NUOVE -->
            <div class="Motore-ricercaChat">
                <div class="buttons-container">
                    <button><i class="fas fa-search"></i></button>
                    <input type="text" placeholder="Carica o Inizia una nuova chat">
                    
                    
                </div>
               
            </div>

            <!-- LISTA CHAT ATTIVE AL MOMENTO  con js-->
            <div id="root" class="lista-chat">
                <ul>
                    <li v-for="(ut, index) in contacts"
                    v-on:click="WHO(index)"
                     class="utenti" >
                        <div  class="">
                            <img :src="ut.avatar" alt="" class=""> </img>
                            <p class="">{{ut.name}}</p>
                        </div> 
                    </li>
                </ul>

            </div>

        </div>


        <!-- blocco-chat-destro -->
        <div class="dx">
            <div class="with-who">
                <div class="who">
                    <img :src=" contacts[contactActive].avatar" :alt="contacts[contactActive].name">
                    <p>{{contacts[contactActive].name}} <br> <span>Ultimo accesso oggi alle... </span></p>
                </div>
                <div class="dx-ICONS">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>

            </div>
            <!-- chat-space -->
            <div class="chat-zone">
                <ul v-for="message in contacts[contactActive].messages">
                     <li  :class="(message.status == 'sent') ? 'message sent' : 'message received'"> 
                        <span>{{message.text}}</span>
                        <!-- <span class="date" >{{message.date}}</span>
                        <span >{{message.status}}</span> -->
                    </li>
                </ul>
        
                
                   

               
            </div>
            <div class="chatBar">
                <i class="far fa-grin-alt"></i>
                <input @keyUp.enter="addtochat()" type="text" placeholder=" Scrivi un nuovo messaggio">
                <i class="fas fa-microphone"></i>

            </div>

        </div>

    </div>
    
    
    
    <script src="Javascript.js"></script>
</body>
</html>