*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
i {
    color: gray;
}
.background-color {
    width: 100%;
    height: 100vh;
    padding: 15px;
    background-image:  linear-gradient(to bottom,
    #009688 0px,
    #009688 15vh,
    #DDDBD1 15vh,  /*questa è una sfumatura*/
    #D2DBDC 100%
    );
    /* da sopra a sotto, applico una prima fascia verde che ocupa il 15% del viewport, rimanente .... */
    background-repeat: no-repeat;
}
.container {
    height: 100%;
    max-height: 100vh;
    width: 80%;
    min-width: 900px;
    margin: auto;
    background-color: white;
    border: 1px solid lightgray;
}
.sx {
    width: 30%;
    background-color: lime;
}
.dx {
    width: 70%;
    background-color: mediumspringgreen;
}
.sx , .dx {
    float: left;
    height: 100%;
}
.bell {
    width: 45px;
    height: 45px;
    border-radius: 40px;
    background-color: white;
    color:#00FFFF;
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
}
.bell i{
    font-size: 25px ;
    text-align: center;
}
.bell , .new-sms {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
}
.Nuove-notifiche a {
    display: block;
    font-size: 13px;
}
.Utente {
    width: 100%;
    height: 70px;
    background-color:#F0F0F0;
    padding: 10px;
    font-size: 15px;
}
.Utente .IconE {
    margin-top: 15px; 
    float: right;
    vertical-align: middle;
    align-items: center;
}
.IconE i {
    font-size: 15px;
    margin-right: 15px ;
}
.Nuove-notifiche {
    width: 100%;
    height: 70px;
    background-color: #00FFFF;
    padding: 10px;
}
.Motore-ricercaChat {
    width: 100%;
    height: 60px;
    background-color:white;
    padding: 10px;
}
.buttons-container {
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
}
button {
    width: 10%;
    height: 100%;
    padding-left: 5px;
    border: none;
    background-color:white;

}
.Utente img {
    width: 50px;
    border-radius: 50%;
    height: 50px;
}
.Utente img , p {
    display: inline-block;
    vertical-align: middle;
}
input {
    width: 88%;
    height: 100%;
    border: none;
}
.lista-chat {
    width: 100%;
    height: calc(100% - 60px - 70px - 70px);
    background-color: whitesmoke; 
    overflow-y: scroll;
}
.lista-chat p {
    font-size: 30px;
}
.with-who {
    width: 100%;
    height: 70px;
    background-color:#F0F0F0;
    border-left: 1px solid lightgray;
    padding: 10px;
    position: relative;
}
.chat-zone {
    width: 100%;
    height: calc(100% - 130px);
    background-image: url(./img/mine.jpg);
    scroll-behavior: smooth; 
    position: relative;
    overflow-y: scroll;
}
.who img  {
    width: 50px;
    border-radius: 50%;
    height: 50px;
    border: 1px solid lightgray;
    display: inline-block;
}
.who img , p {
    display: inline-block;
    vertical-align: middle;
}
.who span {
    font-size: 13px;
    color: gray;
}
.dx-ICONS {
    position: absolute;
    right: 30px;
    top: 25px;
    vertical-align: middle;
    align-items: center;
}
.dx-ICONS i {
    margin-left: 15px;
    vertical-align: middle;
}
.chatBar {
    padding: 15px;
    width: 100%;
    height: 60px;
    bottom: 0px;
    background-color: #F0F0F0;
}
.chatBar i {
    font-size: 20px;
    display: inline-block;
    align-items: center;
    vertical-align: middle;

} 
.chatBar input {
    width: calc(100% - 90px);
    height: 100%;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.CHATverde-Utente {
    height: 52px;
    width: 300px;
    background-color: #98FB98;
    border: 1px solid lightgray;
    position: absolute;
    right: 80px;
    top: 50px;
    padding: 10px;
    font-size: 12px;
    border-radius: 4px;
    vertical-align: middle;
}
.add {
    top: 110px;
}
.CHATgray-other {
    width: 150px;
    height: 52px;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    left: 80px; 
    top: 200px;
    padding: 10px;
    font-size: 12px;
}

.utenti {
    margin-top: 10px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    padding: 15px;
    position: relative;
}
.utenti img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.utenti p {
    position: absolute;
    top: 25px;
    margin-left: 10px;
    font-size: 20px;
}






